<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <h1>Cab</h1>
          </div>
          <h1 class="text-center">Login</h1>
          {{ loginData | json }}

          <form (ngSubmit)="formSubmit()">
            <!-- UserName field -->
            <mat-form-field appearance="outline">
              <input
                [(ngModel)]="loginData.username"
                name="username"
                matInput
              />
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field appearance="outline">
              <input
                [(ngModel)]="loginData.password"
                name="password"
                type="password"
                matInput
              />
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Login
              </button>
              <button class="ml20" mat-raised-button color="accent">
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
